:root {
    --primaryPurple: hsl(259, 100%, 65%);
    --primaryRed: hsl(0, 100%, 67%);
    --neutralWhite: hsl(0, 0%, 100%);
    --neutralOffWhite: hsl(0, 0%, 94%);
    --neutralLightGrey: hsl(0, 0%, 86%);
    --neutralSmokeyGrey: hsl(0, 1%, 44%);
    --neutralOffBlack: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--neutralOffWhite);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--neutralWhite);
    width: 550px;
    padding: 30px;
    border-radius: 15px 15px 150px 15px;
}

.age-input {
    display: flex;
    margin: 10px 0 55px 0;
    position: relative;
}

.age-input p {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 3px;
}

.age-input input {
    width: 100px;
    height: 45px;
    border: 1px solid var(--neutralLightGrey);
    border-radius: 4px;
    text-align: center;
    margin-right: 20px;
}

button {
    position: absolute;
    background-color: var(--primaryPurple);
    width: 65px;
    height: 65px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(400px, -80%);
}

button img {
    width: 30px;
}

.age-calculator {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 32px;
    font-style: italic;
}

.age-calculator span {
    color: var(--primaryPurple);
}