:root {
    --primaryPurple: hsl(259, 100%, 65%);
    --primaryRed: hsl(0, 100%, 67%);
    --neutralWhite: hsl(0, 0%, 100%);
    --neutralOffWhite: hsl(0, 0%, 94%);
    --neutralLightGrey: hsl(0, 0%, 86%);
    --neutralSmokeyGrey: hsl(0, 1%, 44%);
    --neutralOffBlack: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--neutralOffWhite);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--neutralWhite);
    width: 550px;
    padding: 30px;
    border-radius: 15px 15px 150px 15px;
}

.age-input {
    display: flex;
    margin: 10px 0 55px 0;
    position: relative;
}

.age-input p {
    text-transform: uppercase;
    color: var(--neutralSmokeyGrey);
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 3px;
}

.input {
    width: 100px;
    height: 45px;
    border: 1px solid var(--neutralLightGrey);
    border-radius: 4px;
    text-align: left;
    padding-left: 15px;
    margin-right: 20px;
    cursor: pointer;
    font-weight: 700;
}

.input:hover {
    border: 1px solid var(--primaryPurple);
}

.input:focus {
    border: 1px solid var(--primaryPurple);
    outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    position: absolute;
    background-color: var(--primaryPurple);
    width: 65px;
    height: 65px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(400px, -80%);
}

button img {
    width: 30px;
}

.age-calculator {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 32px;
    font-style: italic;
}

.age-calculator h1 {
    color: var(--neutralOffBlack);
}

.age-calculator span {
    color: var(--primaryPurple);
}

.error-message {
    color: var(--primaryRed);
    font-size: 9px;
    margin-top: 5px;
    display: none;
}


@media (max-width: 560px) {
    .container {
        width: 350px;
    }

    .age-input {
        margin-bottom: 20px;
    }

    .age-input p {
        font-size: 10px;
    }

    .input {
        width: 80px;
    }

    button {
        width: 55px;
        height: 55px;
        transform: translate(115px, 20%);
    }
    
    button img {
        width: 25px;
    }

    .age-calculator {
        font-size: 26px;
        margin-top: 110px;
    }
}

@media (max-width: 375px) {
    .container {
        width: 310px;
    }

    .age-input p {
        font-size: 9px;
    }

    .input {
        width: 70px;
    }

    button {
        transform: translate(95px, 20%);
    }

    .age-calculator {
        font-size: 22px;
        margin-top: 110px;
    }
}